@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;900&display=swap");

$background-black: #0d0e0e;
$font-black: #0d0e0e;
$background-white: #f1f1f1;
$font-white: #f1f1f1;
$strive-primary: #00ff84;
$text-muted: #6c757d;

$border-radius: 20px;
$box-shadow: 0.25em 0.25em 0.25em 0.1em rgba(43, 43, 43, 0.125);
